<<<<<<< HEAD
img{
	height: 5em;
	width: 5em;
}

.cont{
	background-image: url("../assets/bg.jpg");

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 81vh;
  	line-height: 75vh;
  	text-align: center;
}

.cont h1{
	font-size: 80px;
}

nav{
	background-color: #F57C00;
}

span{
	text-decoration-color:#FF6D00 ;

	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;

  	background-color: #0D47A1;
  	width: 100vw;
}
img{
	height: 5em;
	width: 5em;
}
