img{
	height: 5em;
	width: 5em;
}

.cont{
	background-image: url("../assets/bg.jpg");

	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 81vh;
  	line-height: 75vh;
  	text-align: center;
}

.cont h1{
	font-size: 80px;
}

nav{
	background-color: #FFB300;
}

span{
	text-decoration-color:#FFFFFF ;

	display: inline-block;
  	vertical-align: middle;
  	line-height: normal;

  	background-color: #006883;
  	width: 100vw;
}

.kontent1{
   /* The image used */
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/ea/North_Laguna_Beach_Photo_D_Ramey_Logan.jpg");

    /* Set a specific height */
    height: 81vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kontent2{
  /* The image used */
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/1-twin-points-laguna-beach-seascaping-photography.jpg");
    background-size: 90%;
    /* Set a specific height */
    height: 81vh; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
